/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 Jun 2024, 09:25:29
    Author     : admin
*/
.loginPath{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.loginPath a{
    margin:20px;
}
