<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LecturerViewController</servlet-name>
        <servlet-class>controller.lecturer.LecturerViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerMarkController</servlet-name>
        <servlet-class>controller.lecturer.LecturerMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForLecturerController</servlet-name>
        <servlet-class>controller.lecturer.LoginForLecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForStudentController</servlet-name>
        <servlet-class>controller.student.LoginForStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewController</servlet-name>
        <servlet-class>controller.student.StudentViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectInfoController</servlet-name>
        <servlet-class>controller.subject.SubjectInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerAddExamController</servlet-name>
        <servlet-class>controller.lecturer.LecturerAddExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentMarkReportController</servlet-name>
        <servlet-class>controller.student.StudentMarkReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingAddCourseController</servlet-name>
        <servlet-class>controller.training.TrainingAddCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForTrainingController</servlet-name>
        <servlet-class>controller.training.LoginForTrainingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingViewController</servlet-name>
        <servlet-class>controller.training.TrainingViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingAddStudentIntoCourseController</servlet-name>
        <servlet-class>controller.training.TrainingAddStudentIntoCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingAddSemesterController</servlet-name>
        <servlet-class>controller.training.TrainingAddSemesterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingViewMarkReportController</servlet-name>
        <servlet-class>controller.training.TrainingViewMarkReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerReportController</servlet-name>
        <servlet-class>controller.lecturer.LecturerReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LecturerViewController</servlet-name>
        <url-pattern>/lecturer/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerMarkController</servlet-name>
        <url-pattern>/lecturer/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForLecturerController</servlet-name>
        <url-pattern>/lecturer/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForStudentController</servlet-name>
        <url-pattern>/student/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewController</servlet-name>
        <url-pattern>/student/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectInfoController</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerAddExamController</servlet-name>
        <url-pattern>/lecturer/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentMarkReportController</servlet-name>
        <url-pattern>/student/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingAddCourseController</servlet-name>
        <url-pattern>/training/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForTrainingController</servlet-name>
        <url-pattern>/training/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingViewController</servlet-name>
        <url-pattern>/training/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingAddStudentIntoCourseController</servlet-name>
        <url-pattern>/training/addStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingAddSemesterController</servlet-name>
        <url-pattern>/training/addSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingViewMarkReportController</servlet-name>
        <url-pattern>/training/viewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerReportController</servlet-name>
        <url-pattern>/lecturer/getReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
